* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-editor {
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    height: 100%;
    width: 50%;
}

.col {
    background-color: #fff;
    width: 100%;
    border-radius: 4px;
    padding: 5px;
    box-shadow: #00000059 0px 5px 15px;
    text-align: center;
    justify-content: center;
}

.box {
    display: inline-block;
    padding: 0 5px;
}

.first {
    border-right: 2px solid #40576d33;
}

input[type=number] {
    outline: none;
    border: none;
    width: 50px;
    color: #131c35;
    font-size: 24px;
    padding: 10px 0px;
    margin-left: 10px;
}

.second {
    border-right: 2px solid #40576d33;
}

button {
    border: none;
    color: #131c35;
    font-size: 20px;
    font-weight: 300;
    background-color: transparent;
    padding: 10px 16px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

button:hover {
    background-color: #40576d1a;
}

button.active {
    background-color: #73b1e333;
    color: #5271ff;
}

.third {
    border-right: 2px solid #40576d33;
}

.third button:focus {
    background-color: #73b1e333;
    color: #5271ff;
}

input[type=color] {
    width: 35px;
    outline: none;
    border: none;
    background: none;
}

textarea {
    width: 100%;
    height: 600px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    resize: vertical;
}

.input-title{
    padding: 5px;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
}

.input-description{
    width: 100%;
    height: 70px;
    outline: none;
    border: none;
}

.centered{
    margin-bottom: 20px;
}

.toolbar {
    padding: 16px;
    background: #eee;
}
.toolbar .head {
    display: flex;
    grid-gap: 10px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}
.toolbar .head > input {
    max-width: 100px;
    padding: 6px 10px;
    border-radius: 6px;
    border: 2px solid #ddd;
    outline: none;
}
.toolbar .head select {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}
.toolbar .head .color {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-gap: 6px;
    padding: 0 10px;
}
.toolbar .head .color span {
    font-size: 14px;
}
.toolbar .head .color input {
    border: none;
    padding: 0;
    width: 26px;
    height: 26px;
    background: #fff;
    cursor: pointer;
}
.toolbar .head .color input::-moz-color-swatch {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}
.toolbar .btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 10px;
}
.toolbar .btn-toolbar button {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.toolbar .btn-toolbar button:hover {
    background: #f3f3f3;
}
#content {
    padding: 16px;
    outline: none;
    overflow: auto;
    height: 800px;
    width: 100%;
    border: none;
}
#show-code[data-active="true"] {
    background: #eee;
}