<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="UTF-8">
        <title>Article</title>

    <link type="text/css" th:href="@{/css/header.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/footer.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/articles.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body>
<header th:insert="fragments/header-fragment::header"></header>


<div class="wrapper-moderation">

    <aside style="float: left">

    </aside>

    <div id="content-container-id" class="content-container-html">
        <div id="content">

        </div>
    </div>

    <aside style="float: right;margin-left: auto;">
        <form method="post"
              th:object="${articleModeration}"
              th:action="@{/admin-panel/moderation/{articleId}(articleId = ${article.getArticleId()})}">
            <select th:field="${articleModeration.status}">
                <option th:each="status : ${T(ua.hnure.zhytariuk.models.domain.article.ModerationStatus).values()}"
                        th:value="${status}" th:text="${status}"></option>
            </select>
            <input th:field="${articleModeration.additionalInformation}"/>
            <button type="submit">Submit</button>
        </form>
    </aside>

</div>

<footer th:insert="fragments/footer-fragment::footer"></footer>
<script th:inline="javascript" th:name="on-load">
    window.onload = function () {
        document.getElementById("content").innerHTML = [[${article.getContent()}]];
    }
</script>
</body>
</html>