<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link type="text/css" th:href="@{/css/header.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/footer.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/profile.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/profile-statistic.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<header th:insert="fragments/header-fragment::header"/>

<div class="wrapper">

    <aside class="left-aside" style="float: left">
        <a th:href="@{/profile/settings}">
            <button class="left-aside-button">
                Settings
            </button>
        </a>

        <a th:href="@{/profile/transactions-history}">
            <button class="left-aside-button">
                Transaction History
            </button>
        </a>

        <a th:href="@{/profile/articles}">
            <button class="left-aside-button">
                Articles
            </button>
        </a>

        <a th:href="@{/profile/statistic}">
            <button class="left-aside-button">
                Statistic
            </button>
        </a>

        <a th:href="@{/logout}">
            <button class="left-aside-button">
                Log out
            </button>
        </a>

    </aside>

    <div class="content-container">
        <div class="statistic like-statistic">
            <h3>Total Likes </h3> <span th:text="${#lists.size(articleLikes)}"></span>
        </div>

        <div class="statistic">
            <h3>Total Dislikes </h3> <span th:text="${#lists.size(articleDislikes)}"></span>
        </div>

        <div class="statistic">
            <h3>Total Views </h3> <span th:text="${totalViews}"></span>
        </div>

        <div class="statistic">
            <h3>Subscribers </h3> <span th:text="${totalSubscribers}"></span>
        </div>

        <div class="statistic">
            Articles Sold
        </div>

        <div class="statistic">
            Total Comments
        </div>
    </div>
</div>

<footer th:insert="fragments/footer-fragment::footer"/>
</body>
</html>