<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article</title>

    <link type="text/css" th:href="@{/css/header.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/footer.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/articles.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/profile-article.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body>
<header th:insert="fragments/header-fragment::header"></header>

<div class="wrapper">

    <aside style="float: left">
        <div>
            <select th:field="${article.status}">
                <option th:each="status : ${T(ua.hnure.zhytariuk.models.domain.article.ArticleStatus).values()}"
                        th:value="${status}" th:text="${status}"></option>
            </select>

            <a th:href="@{/profile/articles/{articleId}/edit(articleId = ${article.getArticleId()})}" class="aside-article-button">
                Edit Article
            </a>
        </div>
    </aside>

    <div id="content-container-id" class="content-container-html">
        <div id="content">

        </div>
    </div>
</div>

<footer th:insert="fragments/footer-fragment::footer"></footer>
<script th:inline="javascript" th:name="on-load">
    window.onload = function () {
        document.getElementById("content").innerHTML = [[${article.getContent()}]];
    }
</script>
</body>
</html>